<md-dialog  aria-label="Create New Card Instance" flex="60">
    <!-- HEADER -->
    <md-toolbar class="md-primary">
        <div class="md-toolbar-tools" layout="row" layout-align="space-between center">
            <span class="title">Create New Card</span>
            <md-button class="md-icon-button" ng-click="closeDialog()" aria-label="Close dialog">
                <md-icon md-font-icon="icon-close"></md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <!-- HEADER -->

    <!-- CONTENT -->
    <md-dialog-content>
        <div class="form-wrapper" flex="100">
            <form name="createCardForm" novalidate>
                <div layout="row">
                    <md-input-container flex="50">
                        <label>Title</label>
                        <input ng-model="newCard.title" name="title" required>
                        <div ng-messages="createCardForm.title.$error">
                            <div ng-message="required">Title is required.</div>
                        </div>
                    </md-input-container>
                    <md-input-container flex="50">
                        <label>Subtitle</label>
                        <input ng-model="newCard.subtitle" name="subtitle" required>
                        <div ng-messages="createCardForm.subtitle.$error">
                            <div ng-message="required">Subtitle is required.</div>
                        </div>
                    </md-input-container>
                </div>

                <div layout="row">
                    <md-input-container flex="100">
                        <label>Image Url</label>
                        <input ng-model="newCard.image.imageUrl" name="imageUrl" required>
                        <div ng-messages="createCardForm.imageUrl.$error">
                            <div ng-message="required">Image Url is required.</div>
                        </div>
                    </md-input-container>
                </div>

                <div layout="row">
                    <md-input-container class="md-block" flex="100">
                        <textarea ng-model="newCard.formattedText" rows="3" placeholder="Formatted Text"></textarea>
                    </md-input-container>
                </div>

                <div layout="row">
                    <md-input-container flex="50">
                        <label>Button Title</label>
                        <input ng-model="newCard.buttons[0].title" name="buttonTitle" required>
                        <div ng-messages="createCardForm.buttonTitle.$error">
                            <div ng-message="required">Button Title is required.</div>
                        </div>
                    </md-input-container>
                    <md-input-container flex="50">
                        <label>Button Uri</label>
                        <input ng-model="newCard.buttons[0].openUriAction.uri" name="buttonUri" required>
                        <div ng-messages="createCardForm.subtitle.$error">
                            <div ng-message="required">Button Uri is required.</div>
                        </div>
                    </md-input-container>
                </div>


                <div layout="row" layout-align="center center">
                    <md-button type="submit" ng-click="create()" class="md-raised md-primary" aria-label="Submit"
                               ng-disabled="createCardForm.$invalid || createCardForm.$pristine">
                        Submit
                    </md-button>
                    <md-button type="submit" ng-click="downloadAsFile()" class="md-raised md-primary" aria-label="Submit"
                               ng-disabled="createCardForm.$invalid || createCardForm.$pristine">
                        Export As File
                    </md-button>
                    <md-button ng-click="closeDialog()" class="md-accent md-raised" aria-label="Cancel">
                        Cancel
                    </md-button>
                </div>
            </form>

        </div>
    </md-dialog-content>

    <!-- CONTENT -->

</md-dialog>
