<div ng-controller="mainController">
    <div layout="row" layout-align="center" layout-wrap>
        <div layout="column">
            <h1>Strayer University DialogFlow</h1>
            <div layout="row" layout-align="center">
                <flash-message name="main"></flash-message>
            </div>
        </div>

        <br>

        <div layout-align="center" flex="80">
            <div layout="row" layout-align="end">
                <md-button class="md-raised md-primary" ng-click="createDialog($event)">
                    Create
                </md-button>
                <md-button class="md-raised md-warn" ng-click="logout()">
                    Logout
                </md-button>
            </div>
            <br>
            <table>
                <thead style="background-color: #03A9F4">
                <th>Title</th>
                <th>Subtitle</th>
                <th>Formatted Text</th>
                <th>Image URL</th>
                <th>Button Title</th>
                <th>Button Uri</th>
                <th>Action</th>

                </thead>
                <tbody>
                <tr ng-repeat="dialog in dialogs">
                    <td>{{dialog.title}}</td>
                    <td>{{dialog.subtitle}}</td>
                    <td>{{dialog.formattedText}}</td>
                    <td>{{dialog.image.imageUrl}}</td>
                    <td>{{dialog.buttons[0].title}}</td>
                    <td>{{dialog.buttons[0].openUriAction.uri}}</td>
                    <td> {{dialog._id}}
                        <md-button type="submit" ng-click="updateDialog($event, dialog._id)" class="md-raised md-primary" aria-label="Update">
                            Update
                        </md-button>
                        <md-button type="submit" ng-click="deleteDialog($event, dialog._id)" class="md-raised md-accent" aria-label="Delete">
                            Delete
                        </md-button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>
