<div ng-controller="mainController">
    <div layout="row" layout-align="center" layout-wrap>
        <div layout="column">
            <h1>Strayer University DialogFlow Project</h1>
            <div layout="row" layout-align="center">
                <flash-message name="main"></flash-message>
            </div>
        </div>

        <br>

        <div layout-align="center" flex="80">
            <div layout="row" layout-align="end">
                <md-button class="md-raised md-primary" ng-click="createDialog($event)">
                    Create
                </md-button>
                <md-button class="md-raised md-warn" ng-click="logout()">
                    Logout
                </md-button>
            </div>
            <br>
            <table>
                <thead>
                    <th width="10%">Title</th>
                    <th width="10%">Subtitle</th>
                    <th width="15%">Formatted Text</th>
                    <th width="10%">Image URL</th>
                    <th width="5%">Button Title</th>
                    <th width="20%">Button Uri</th>
                    <th width="20%">Action</th>
                </thead>
                <tbody>
                    <tr ng-repeat="card in cards">
                        <td>{{card.title}}</td>
                        <td>{{card.subtitle}}</td>
                        <td>{{card.formattedText}}</td>
                        <td>{{card.image.imageUrl}}</td>
                        <td>{{card.buttons[0].title}}</td>
                        <td>{{card.buttons[0].openUriAction.uri}}</td>
                        <td>
                            <md-button type="submit" ng-click="updateDialog($event, card._id)" class="md-raised md-primary" aria-label="Update">
                                Update
                            </md-button>
                            <md-button type="submit" ng-click="deleteDialog($event, card._id)" class="md-raised md-accent" aria-label="Delete">
                                Delete
                            </md-button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>
